$paletteAccentLoginApp: (
    50 : #e6f6f9,
    100 : #c0e9ef,
    200 : #97dae4,
    300 : #6dcbd9,
    400 : #4dc0d1,
    500 : #2eb5c9,
    600 : #29aec3,
    700 : #23a5bc,
    800 : #1d9db5,
    900 : #128da9,
    A100 : #daf8ff,
    A200 : #a7edff,
    A400 : #74e3ff,
    A700 : #5adeff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #fff,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$dark: (
    50 : #e1e1e1,
    100 : #b5b5b5,
    200 : #848484,
    300 : #535353,
    400 : #2e2e2e,
    500 : #090909,
    600 : #080808,
    700 : #060606,
    800 : #050505,
    900 : #020202,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
